build/
devel/
install/
log/
logs/
__pycache__/
**/__pycache__/
*.pyc
*.npy
*.pcd
*.bag
*.bag.active
*.mp4
*.avi
*.png
*.db
*.pid
frames.gv
frames.pdf
.env
.env.*
config/*.env

debug/*
!debug/slam_interface_freeze/
!debug/slam_interface_freeze/**

/home/richard/.ros/results/bev_maps/
.ros/results/bev_maps/
